html, body {
  text-align: center;
  min-width: 260px;
  color: #810c0c;
}
#main {
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background: #000000;
}
#title, #headline, h3 {
  font-family: palatino, monospace;
}
